@model DashInformationViewModel
@{
	Layout = "_Dashboard";
}

<div class="dashboard-menu mb-3">
	<ul>
		<li>+ New Invoice</li>
		<li>Edit Invoice</li>
		<li>Delete Invoice</li>
	</ul>
	<div class="card m-2">

	</div>
</div>
