<div class="container m-3">
    <h2 style="color: red">Unauthorized!</h2>
    <h4>Maybe your session has expired or you don't have the rights of access.</h4>
    <h5>Please log in or contact us!</h5>
    <a asp-controller="Home" asp-action="Index"><- Go to Home Page</a>
</div>